# Global default
*                                       @woosal1337

# Rust core
/crates/attune-core/                    @woosal1337
/crates/attune-cli/                     @woosal1337
/src-tauri/                             @woosal1337

# Frontend
/src/                                   @woosal1337

# Repo hygiene
/.github/                               @woosal1337
/docs/                                  @woosal1337
